# .gitignore

# --- Секреты ---
# Самое важное! Никогда не загружайте .env в Git
.env

# --- Локальная разработка (Air) ---
# Игнорируем временную папку 'air'
/tmp/
# Игнорируем логи 'air'
# air_errors.log

# --- Go ---
# Игнорируем локальные бинарники
# *.exe
# server

# --- OS ---
# .DS_Store
# Thumbs.db